<div class="contact-page-container container">
  <div class="contact-form-card card">
    <h1>Contact Us</h1>
    <p class="lead-paragraph">Have questions or want to schedule a service? Fill out the form below, and we will get back to you shortly.</p>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" type="text" formControlName="name" class="form-control" [ngClass]="{'is-invalid': contactForm.get('name')?.invalid && contactForm.get('name')?.touched}">
        <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="invalid-feedback">
          Name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': contactForm.get('email')?.invalid && contactForm.get('email')?.touched}">
        <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="invalid-feedback">
          <span *ngIf="contactForm.get('email')?.errors?.['required']">Email is required.</span>
          <span *ngIf="contactForm.get('email')?.errors?.['email']">Valid email is required.</span>
        </div>
      </div>

      <div class="form-group">
        <label for="message">Message:</label>
        <textarea id="message" formControlName="message" rows="5" class="form-control" [ngClass]="{'is-invalid': contactForm.get('message')?.invalid && contactForm.get('message')?.touched}"></textarea>
        <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="invalid-feedback">
          Message is required.
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="contactForm.invalid">Send Message</button>
    </form>

    <div *ngIf="submissionStatus.message" class="submission-message" [ngClass]="{'success-message': submissionStatus.success, 'error-message': !submissionStatus.success}">
      {{ submissionStatus.message }}
    </div>
  </div>
</div>
